body {
    background-color:gray;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

h1 {
    color: gold;
    font-family: 'Open Sans';
    background-color: white;
    margin-left:0%;
    margin-right:0%;
    margin-top:0%;

}

sub {
    color: gold;
}

#login_block {
    margin:0 auto;
    margin: 3% 35% 0% 35%;
    background-color: white;
}

#username {
    float : lef;
}t